body{
    background-image: url(images/photo-1495313196544-7d1adf4e628f.jpg);
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}
body::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.1);
}
h1,h3,h2{
    margin-top: 30px;
    margin-bottom: 30px;
}
button{
    width: 150px;
    background-color: rgb(170, 39, 39);
    border-radius: 2px;
    padding: 6px;
    font-weight: bold;
    color: white;
    margin: 15px;
}
#save-btn{
    background-color: rgb(12, 122, 12);
}